body {
    background-color: rgb(255, 247, 2);
    font-family: Creepster;
}

header {
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.top1{
    text-align: center;
    background-color: black;
    color: aqua;
    padding-bottom: 40px;
}